In [27]:
# %load imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

In [28]:
df1 = pd.DataFrame(
[
    ['red', 5, 10],
    ['blue', 8, 16],
    ['green', 14, 32],
], columns="color v1 v2".split()
)
df1

   color  v1  v2
0    red   5  10
1   blue   8  16
2  green  14  32

In [29]:
df2 = pd.DataFrame(
[
    ['purple', 11, 6],
    ['orange', 85, 32],
    ['black', 44, 20],
], columns="color v1 v3".split()
)
df2

    color  v1  v3
0  purple  11   6
1  orange  85  32
2   black  44  20

In [30]:
df1 + df2

        color  v1  v2  v3
0   redpurple  16 NaN NaN
1  blueorange  93 NaN NaN
2  greenblack  58 NaN NaN

In [31]:
pd.merge(df1, df2, how="outer")

    color  v1    v2    v3
0     red   5  10.0   NaN
1    blue   8  16.0   NaN
2   green  14  32.0   NaN
3  purple  11   NaN   6.0
4  orange  85   NaN  32.0
5   black  44   NaN  20.0